*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 10px;
    line-height: 1.6;
}

img {
    display: block;
    max-width: 100%;
}

body {
    font-family: "Red Hat Display", system-ui;
    background-image: url(images/pattern-background-desktop.svg);
    background-color: hsl(225, 100%, 94%);
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

main {
    background-color: white;
    width: 37rem;
    border-radius: 1.5rem;
    overflow: hidden;
    box-shadow: 0px 10px 25px #c6d1f0;
}

main section {
    text-align: center;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

main section h1 {
    font-size: 2.3rem;
    font-weight: 900;
    color: hsl(223, 47%, 23%);
}

main section > p {
    font-size: 1.35rem;
    font-weight: 500;
    color: hsl(224, 23%, 55%);
    max-width: 270px;
    margin-inline: auto;
}

main section .box {
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    background-color: hsl(225, 100%, 98%);
    align-items: center;
    border-radius: 1rem;
}

main section .box img {
    width: 4rem;
}

main section .box .text p:first-child {
    font-size: 1.35rem;
    font-weight: 700;
    color: hsl(223, 47%, 23%);
}

main section .box .text p:last-child {
    font-size: 1.3rem;
    color: hsl(224, 23%, 55%);
    font-weight: 500;
    letter-spacing: 0.05rem;
}

main section .box a {
    font-size: 1.3rem;
    font-weight: 700;
    flex-basis: calc(100% - 152.5px);
    text-align: end;
    color: hsl(245.85deg 50.62% 47.65%);
}

main section .box a:hover {
    text-decoration: none;
    color: hsl(244.04deg 48.11% 63.73%);
}

main section a.pay {
    font-size: 1.3rem;
    font-weight: 900;
    background-color: hsl(245, 75%, 52%);
    color: white;
    text-decoration: none;
    padding: 10px 0px;
    border-radius: 1rem;
    margin-top: 10px;
    box-shadow: 0px 10px 20px hsl(244.92deg 100% 83.23%);
}

main section a.pay:hover {
    background-color: hsl(244.51deg 82.61% 68.43%);
}

main section a.cancel {
    font-size: 1.3rem;
    font-weight: 900;
    color: hsl(224, 23%, 55%);
    text-decoration: none;
    margin-top: 8px;
}

main section a.cancel:hover {
    color: hsl(223, 47%, 23%);
}

@media (max-width: 62.5rem) {
    body {
        background-image: url(images/pattern-background-mobile.svg);
    }
}


